.fat-tweet-convert-text {
    padding: 3px 3px 1px;
    height: auto;
    line-height: 1;
    margin-right: 12px;
    position: relative;
    vertical-align: middle;
    top: -1px;
    position: relative;
}

.fat-tweet-sending-spinner {
    background-image: url(../img/ring.svg);
    position: absolute;
    width: 50px;
    height: 50px;
    top: -5px;
    left: -5px;
    background-size: cover;
    display: none;
}

.fat-tweet-form-sending .fat-tweet-sending-spinner {
    display: block;
}

.rich-editor.screenshot-process {
    line-height: 1;
    background-color: #fff!important;
}

.rich-editor.screenshot-process em {
    background-color: inherit;
}

.rich-editor.screenshot-process .RichEditor-pictographText {
    display: inline-block;
    width: 22px!important;
    max-width: 22px!important;
}

.rich-editor.screenshot-process .RichEditor-pictographText img {
    max-width: 100%!important;
}

.rich-editor.screenshot-process .username {
    text-align: right;
    margin-top: 15px;
}
